.cardContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.card {
    width: 350px;
    text-align: left;
    margin: 10px;
}

.cardAvatar {
    background-color: rgba(50, 67, 216, 0.76) !important;
}