.App {
  text-align: center;
}

.user {
  margin: 20px;
  padding: 10px;
}

.avatar {
  width: 200px !important;
  height: 200px !important;
  margin: 10px auto;
}

.name {
  font-size: 1.25rem;
}

.search {
  margin: 20px;
}

.cardContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.card {
  width: 350px;
  text-align: left;
  margin: 10px;
}

.cardAvatar {
  background-color: rgba(50, 67, 216, 0.76) !important;
}
